apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-with-argocd-deployment
spec:
  selector:
    matchLabels:
      app: sample-app
  replicas: 2
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: sample-app
        image: nanajanashia/argocd-app:1.0
        ports:
        - containerPort: 8080